.divider {
  // color: white;
  border-top-color: rgb(205, 205, 205);
  margin-bottom: 25px;
  width: 80%;

  &:before {
    display: block;
    margin-left: -10%;
    margin-top: -1px;
    content: "";
    background: linear-gradient(to left, black, blue);
    width: 1%;
    height: 1px;
  }

  &:after {
    display: block;
    margin-left: 100%;
    margin-top: -1px;
    content: "";
    background: linear-gradient(to right, black, blue);
    width: 10%;
    height: 1px;
  }
}

.siderTopHead {
  padding: 20px;
}

.side-menu-dropdown {
  .ant-menu-submenu-title:hover {
    background-color: green !important;
    color: black !important;
  }
}
